body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

/* Specialisation */
.container {
    width: 1430px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
ul, li {
    margin: 0;
    padding: 0;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #000;
}
.burger {
    display: none;
}
.lines {
    border: 1px solid #000;
    width: 25px;
}
.lines:not(:first-child) {
    margin-top: 7px;
}
/* HEADER */
.burger.active .line_one {
    transform: rotate(-45deg) translate(-1px,1px);
}
.burger.active .line_two {
    display: none;
}
.burger.active .line_three {
    transform: rotate(45deg) translate(-5px,-6px);
}
.mobile {
    display: none;
}
.mobile-menu {
    background: rgba(80, 81, 83, 0.6);
    position: absolute;
    right: 0px;
    width: 50%;
    z-index: 11;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
.mobile-menu__list {
    margin-top: 50px;
    padding-bottom: 50px;
}
.mobile-menu__list>a {
    color: #fff;
}
.mobile.active {
    display: block;
}
.call-sign {
    display: none;
    background: #21B9FC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    right: 60px;
    top: 600px;
}
.call-sign__link>img {
    margin: 12.5px auto;
    display: flex;
}
.top-logo {
    display: block;
    background: url('../img/logo.png');
    width: 140px;
    height: 140px;
}
.top-nav {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
}
.menu__list:not(:first-child) {
    margin-left: 50px;
}
.menu__link {
    font-size: 15px;
    transition: 0.5s ease;
}
.menu__link:hover {
    color: #13B8F0;
}
.tel {
    font-size: 15px;
    font-weight: 800;
}
.contact__btn {
    padding: 15px 30px;
    background: #55C8F9;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    transition: box-shadow 0.6s ease;
}
.contact__btn:hover {
    box-shadow: 0px 4px 16px rgba(85, 148, 175, 0.8);
}
/* Testimonials */
.testimonials-header {
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-bar, .left-bar {
    width: 100%;
    height: 4px;
    background: #C4C4C4;
}
.testimonials-title {
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 30px;
    font-weight: 300;
}
.testimonials-one, .testimonials-two, .testimonials-three, .testimonials-four, .testimonials-five, .testimonials-six, .testimonials-seven, .testimonials-eight, .testimonials-nine {
    font-family: 'Courgette', cursive;
    background-color: #72D0F9;
    border-radius: 100px;
    max-width: 650px;
    padding: 32px 69px;
    margin-top: 30px;
}
.testimonials-two, .testimonials-four {
    padding: 51px 69px;
    margin-left: auto;
}
.testimonials-three {
    padding: 61px 69px;
}
.testimonials-five {
    padding: 42px 69px;
}
.testimonials-six {
    margin-left: auto;
    padding: 61px 69px;
}
.testimonials-seven {
    padding: 51px 69px;
}
.testimonials-eight {
    margin-left: auto;
    padding: 42px 69px;
}
.testimonials-nine {
    padding: 57px 53px;
    max-width: 801px;
}
.testimonials-one__title, .testimonials-two__title, .testimonials-three__title, .testimonials-four__title, .testimonials-five__title, .testimonials-six__title, .testimonials-seven__title, .testimonials-eight__title, .testimonials-nine__title {
    font-size: 25px;
    font-weight: 400;
    max-width: 513px;
}
.testimonials-one__text, .testimonials-two__text, .testimonials-three__text, .testimonials-four__text, .testimonials-five__text, .testimonials-six__text, .testimonials-seven__text, .testimonials-eight__text, .testimonials-nine__text {
    font-size: 15px;
    margin-top: 10px;
    max-width: 513px;
}
.testimonials-nine__text {
    max-width: 695px;
}



/* Footer */
.footer {
    background:#C4E3EE;
    margin-top: 130px;
}
.bottom-nav {
    display: flex;
    align-items: center;
    padding-top: 80px;
    justify-content: space-between;
}
.bottom-nav__logo__img {
    display: block;
    width: 140px;
    height: 140px;
    background: url('../img/logo.png');
    cursor: pointer;
}
.bottom-menu__link {
    transition: 0.5s ease;
}
.bottom-menu__link:hover {
    color: #13B8F0;
}
.bottom-nav__menu__list {
    font-size: 15px;
}
.bottom-nav__menu__list:not(:first-child) {
    margin-top: 20px;
}
.contacts__number {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}
.contacts__email {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}
.socials__title {
    text-align: center;
}
.socials__img {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials__facebook {
    background: url('../img/social/facebook.png');
    width: 21px;
    height: 21px;
}
.socials__instagram {
    background: url('../img/social/instagram.png');
    width: 21px;
    height: 21px;
    margin-left: 30px;
}
.socials__linkedin {
    background: url('../img/social/linkedin.png');
    width: 21px;
    height: 21px;
    margin-left: 30px;
}
.copyright {
    text-align: center;
    font-size: 15px;
    margin-top: 42px;
    padding-bottom: 10px;
}

/* Resoponsive */
/* Large : 1401px - 1600px */
@media (max-width: 1600px) {
    .container {
        max-width: 1330px;
    }
    .menu {
        margin-left: 0px;
    }
}
/* Large : 1201px - 1400px */
@media (max-width: 1400px) {
    .container {
        max-width: 1167px;
    }
	.tel {
        margin-left: 0px;
    }
    .contact__btn {
        margin-left: 0px;
    }
    
}
/* Large : 992px - 1199px */
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
    .top-logo {
        width: 120px;
        height: 120px;
        background: url('../img/logo-768.png');
    }
    .tel {
        display: none;
    }
    .right-bar, .left-bar {
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
    .menu__list:not(:first-child) {
        margin-left: 20px;
    }
    .bottom-nav {
        flex-wrap: wrap;
    }
    .right-bar, .left-bar {
        margin-left: 15px;
        margin-right: 15px;
    }
    .about-us-offer__title {
        font-size: 30px;
    }
    .about-us-location-contacts {
        flex-wrap: wrap;
    }
    .email {
        margin-top: 20px;
    }
    .bottom-nav {
        flex-wrap: wrap;
    }
    .map>iframe {
        max-width: 100%;
    }
    
}
/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
    h2 {
        text-align: left !important;
    }
    .burger {
        display: block;
    }
    .menu {
        display: none;
    }
    .contact__btn {
        display: none;
    }
    .tel {
        display: block;
        margin-left: -80px;
    }
    .bottom-nav__logo {
        width: 540px;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .about-header {
        justify-content: space-between;
    }
    .right-bar, .left-bar {
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-us-offer__text, .about-us-location-call {
        font-size: 15px;
    }
    .bottom-nav__logo {
        width: 540px;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .call-sign {
        display: block;
    }
}
/* Small: 501px - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
        width: auto;
	}
    .bottom-nav__logo__img {
        width: 80px;
        height: 80px;
        background: url('../img/logo-320.png');
    }
    .bottom-nav {
        padding-top: 15px;
        justify-content: space-evenly;
    }
    .bottom-nav__logo {
        width: 290px;
        display: flex;
        justify-content: center;
    }
    .bottom-nav__menu {
        width: 290px;
        margin-right: auto;
    }
    .contacts {
        margin-top: 40px;
        width: 290px;
        margin-right: auto;
    }
    .socials {
        margin-top: 40px;
        width: 290px;
    }
    .right-bar, .left-bar {
        margin-left: 5px;
        margin-right: 5px;
    }
    .about-us-offer__title {
        font-size: 25px;
    }
    .about-us-location-map {
        display: none;
    }
    .addres {
        width: 100%;
    }
    .phone {
        margin-top: 20px;
    }
    .call-sign {
        right: 20px;
    }
    
}
@media (max-width: 470px) {
    .tel {
        display: none;
    }
    .about-us-offer__title {
        font-size: 18px;
    }
    .about-us-offer__text, .about-us-location-call {
        font-size: 13px;
    }
    
    
    
}
@media (max-width: 420px) {
	
}
@media (max-width: 320px) {
	/* Header */
    .top-logo {
        width: 80px;
        height: 80px;
        background: url('../img/logo-320.png');
    }
    .top-menu {
        display: none;
    }
    .tel {
        display: none;
    }
    .contact__btn {
        display: none;
    }
    
}

